* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    font-family: Helvetica;
}
/* navbar */
.navbar {
    overflow: hidden;
    background: #253b6e;
    margin-top: 30px;
    position: sticky;
    top: 0;
    /* position: sticky; bu navbarın yukarda kalmasını sağlıyor
    top da yukarda durduğunda ne kadar mesafede duracağını ayarlıyor  */
    font-size: 1.4vw;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 1.2% 2%;
    text-decoration: none; 
    text-transform: uppercase;
}

.navbar a:hover {
    background: #d2ecf9;
    color:black;
    
}

#logo {
    width: 7.6%;   
    float: left;
    position: sticky;
    top: 0;
}

/* 1.Part Wellcome (1.Foto) div1 */
.row {
    width: 100%;
}

.row:after {
    content: '';
    display: table;
    clear: both;
}

.part1-outer-box {
    width: 100%;
}

.part1 {
    background-image: url("https://images.unsplash.com/photo-1498049860654-af1a5c566876?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
    /* background-image: url(""); image için mutlaka url yazmalıyız */
 
    background-size: cover; /* ekranın tamamını kaplar */
    height: 100vh; /* 100 vh kullandığımız için body ekranın tamamını kaplar */
    background-position: center; /* fotoğrafı merkeze alıyor */

    display: flex;
    align-items: center;
    justify-content: center;
}

.part1 h1 {
    font-size: 8vw;
    text-align: center;
    color: #253b6e; 
    text-shadow: 2px 2px 2px #d2ecf9; 
    font-family: 'Charm', cursive; 
 }
 
 /* 2.Part My Skills,Table (2.Foto) div2 */
.part2-outer-box {
   width: 100%;
}

.part2 {
   padding: 3% 12% 3% 12%;
}

table {
   font-size: 5vw;
   width: 100%;
   height: 300px; 
   border-collapse: collapse;
   padding: 5%;
   border-top-style: none; 
}

caption {
   text-shadow: 2px 2px 2px #d2ecf9;
   font-family: 'Saira Stencil One', cursive;
   color: #253b6e;
   width: 100%; 
   padding: 0 0 0.5% 0;
   text-align: center;
   font-size: 6.5vw;
}

 /* table başlık kısmı */
.th-top {
   height: 20vh;
   font-size: 2vw;
   border: transparent;
   clip-path: polygon(51% 0, 100% 0, 100% 60%, 75% 100%, 25% 100%, 0 60%, 0 0);
}

.th-left {
   width: 25%;
   font-size: 2vw;
   border: solid 2px #253b6e;
   border-top: transparent;
   border-left: transparent;
   text-align: left;
   height: 70px;
}

.td-left {
   width: 25%;
   font-size: 4vw;
   border: solid 2px #253b6e;
   border-top: transparent;
   border-left: transparent;
   text-align: center;
   color: #253b6e;
}

.td-mittel {
   width: 25%;
   font-size: 4vw;
   border: solid 2px #253b6e;
   border-top: transparent;
   border-left: transparent;
   text-align: center;
   color: #005792;
}

.td-right {
   width: 25%;
   font-size: 4vw;
   border: solid 2px #253b6e;
   border-top: transparent;
   border-right: transparent;
   border-left: transparent;
   text-align: center;
   color: #1891ac;
}

 /* 3.Part About Me (3.Foto) div3 */
.part3-outer-box {
   width: 100%;
   background-image: url("https://images.unsplash.com/photo-1486312338219-ce68d2c6f44d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=752&q=80");
   background-size: cover; 
   height: 100vh; 
   background-position: center;
}
 
.part3-foto {
   width: 100%;
   padding: 5% 12% 5% 12%;
 }

.part3 {
    background: linear-gradient(#253b6efb,#1891ac09);
    text-shadow: 2px 2px 4px #000000;
    width: 100%; 
    height: 100%;  
}

.part3 h1 {
    font-size: 5vw;
    text-align: center;
    color: #d2ecf9;
    letter-spacing: 1px; 
    /* harfler arasındaki boşlukları belirlememize yarar */
    font-family: 'Charm', cursive;
    width: 100%;
}
 
.part3 p {
    width: 100%;
    font-size: 2vw;
    text-align: center;
    color: #d2ecf9;
    font: bold;
    font-family: 'Charm', cursive;
}
 
 /* 4.Part My Projects(4. foto) div4 */
 /* başlık */
#myprojects {
    font-family: 'Yellowtail', cursive;
    height: 20%;
    font-size: 8vw;
    text-align: center;
    padding: 3.5% 2% 0 2%;
    letter-spacing: 1px; /* harfler arasındaki boşlukları belirlememize yarar */
    color: #253b6e;
    text-shadow: 0px 0px 56px -4px rgba(0,0,0,1);
} 
.part4-outer-box {  
    width: 33.3%;
    float: left;
    height: 100%;
}

.column {
    margin: 2% 10% 10% 10%;
    padding: 0;
    height: 380px;
    border: solid 5px;
    border-radius: 30px;
    box-shadow: 0px 0px 56px -4px rgba(0,0,0,1);
}

.part4-outer-box h2 {
    width: 100%;
    height: 15%;
    text-align: center;
    font-size: 1.8vw;
    line-height: 10vh;
    /* padding-top: 10%; */
}

.part4-outer-box img {
    width: 100%;
    height: 58%;
}

.part4-outer-box p {
    width: 100%;
    height: 15%;
    text-align: center;
    font-size: 1.8vw;
    padding: 0 3% 0 3%;
    line-height: 10vh;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.part4-outer-box h3 {
    width: 100%;
    height: 12%;
    text-align: center;
    font-size: 1.8vw;
    line-height: 3vh;
    border-radius: 0 0 25px 25px;
    padding-top: 5%;
    color: #d2ecf9;
}


 /* 5.part toTop (başa dön ikonu) */
 #basadonikon {
    position: sticky; 
    /* oluşturduğumuz kutu sabit kalıyor */
    position: fixed;
    left: 92%;
    top: 82%; 
    /* bu ne kadr boşluk olacağını gösterir */
    width: 60px;
    height: 60px; 
    /* yukardakiler oluşturduğumuz kutunun ölçüleri */
 
    /* position: fixed;  */
    /* bu sayfada sabit kalır. pozisyonunu veririz orda kalır.bunu kullandıktan sonra sağ sol alt üst değerler vermeliyiz sağ üst veya sol alt değerler ayrı ayrı kullanılabilir */
    
    /* position:absolute; */
    /* bu sayfayı alta doğru çekersek bu yukarda kalır */
 } 
 
 #basadonikon i{
    color: #253b6e;
    font-size: 4vw;
 }

 @media screen and (max-width: 600px) {
    .navbar {
        margin-top: 0;
    }
    .navbar a {
        width: 100%;
        float: none;
        font-size: 5vw;
    }

    #logo {
        display: none;
    }
    
    .part1 h1 {
        font-size: 10vh;
    }

    caption {
        font-size: 8vw;
    }

    .part1-outer-box, .part2-outer-box, .part3-outer-box, .part4-outer-box {
        width: 100%;
        margin-top: 20px;
    }

    .th-top {
        height: 15vh;
        font-size: 3vw;
        border: transparent;
        clip-path: none ;
    }

    .part3 h1 {
        font-size: 6vh;
    }

    .part3 p {
        font-size: 3.7vw;
    }

    .part4-outer-box {  
        width: 100%;
        float: left;
        height: 100%;
    }

    .column {
        height: 40vh;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .th-left, .td-left, .td-mittel, .td-right, .th-top {
        font-size: 4vw;
    }

    .column > h2 {
        font-size: 4.5vw;
        line-height: 5vh;
    }

    .column > p {
        font-size: 4.5vw;
        line-height: 5vh;
    }
    .column > h3 {
        font-size: 4.5vw;
        line-height: 4vh;
        padding: 0;
    }
   
}